<ion-view title="Destinations" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="destinations-form3" class="list">
      <label class="item item-input" id="destinations-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <ion-list id="destinations-list3">
      <ion-item id="destinations-list-item20" ui-sref="select">Asia</ion-item>
      <ion-item id="destinations-list-item21" ui-sref="select2">America</ion-item>
      <ion-item id="destinations-list-item22" ui-sref="select3">Europe</ion-item>
      <ion-item id="destinations-list-item23" ui-sref="select4">Oceania</ion-item>
    </ion-list>
  </ion-content>
</ion-view>