<ion-view title="Forum" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="forum-form6" class="list">
      <label class="item item-input" id="forum-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <button id="forum-button9" class="button button-dark  button-block">Start a New Thread</button>
    <div class="list card" id="forum-card26">
      <ion-item class="item-avatar" id="forum-list-item38" ui-sref="tabsController.thread">
        <img src="img/mujer.png">
        <h2>About University of Leeds</h2>
        <p>Zhang San</p>
      </ion-item>
      <div class="item item-body" id="forum-list-item-container10">
        <div id="forum-markdown11" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Has anyone been there? I have some questions about it. </p>
        </div>
      </div>
    </div>
    <div class="list card" id="forum-card27">
      <ion-item class="item-avatar" id="forum-list-item41">
        <img src="img/mujer.png">
        <h2>Title</h2>
        <p>Name of poster</p>
      </ion-item>
      <div class="item item-body" id="forum-list-item-container11">
        <div id="forum-markdown12" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Content of post</p>
        </div>
      </div>
    </div>
    <div class="list card" id="forum-card29">
      <ion-item class="item-avatar" id="forum-list-item43">
        <img src="img/mujer.png">
        <h2>Title</h2>
        <p>Name of poster</p>
      </ion-item>
      <div class="item item-body" id="forum-list-item-container13">
        <div id="forum-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Content of post</p>
        </div>
      </div>
    </div>
    <div class="list card" id="forum-card28"></div>
  </ion-content>
</ion-view>