<ion-view title="Info Page" id="page8">
  <ion-content padding="true" class="has-header">
    <h2 id="infoPage-heading1" style="color:#000000;">University of Leeds</h2>
    <div>
      <img src="img/ct_Image.cfmImage_ID11146" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="infoPage-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The University of Leeds offers one of the widest ranges of study abroad opportunities in the UK. Available on almost all our courses, it provides a chance to spend time living and studying in another culture as part of your degree.</p>

      <p style="color:#000000;">We have partnerships with more than 400 universities worldwide — popular destinations include Europe, the USA, Canada, Australia, New Zealand, Singapore, Hong Kong, South Africa, Korea and Latin America. </p>

      <p style="color:#000000;">Studying abroad is a great way to gain confidence, broaden your horizons, and develop skills and experiences which can improve your future employability. You could even be awarded an international or European variant of your degree which will help
        you stand out to employers.</p>

      <p style="color:#000000;">Over 900 Leeds students study abroad every year and more than 550 of these are not studying on language degrees. Some choose to study abroad for one semester and some for a full year, as part of their undergraduate course.</p>

      <p style="color:#000000;">You don’t need to be fluent in another language to study abroad; in some partner institutions the teaching is in English. If you do need help, our Language Centre can advise you about opportunities to learn languages before you go.</p>
    </div>
    <h3 id="infoPage-heading2" style="color:#000000;">Comments:</h3>
    <div class="list card" id="infoPage-card24" ng-repeat="feed in feeds">
      <ion-item class="item-avatar" id="infoPage-list-item30">
        <img src="img/face.png">
        <h2>{{feed.username}}</h2>
      </ion-item>
      <div class="item item-body" id="infoPage-list-item-container6">
        <div id="infoPage-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">{{feed.content}}</p>
        </div>
      </div>
    </div>
    <a ui-sref="newComment" id="infoPage-button10" class="button button-positive  button-block">New comment</a>
  </ion-content>
</ion-view>
