<ion-view title="Thread" id="page9">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="thread-card211">
      <ion-item class="item-avatar" id="thread-list-item45">
        <img src="img/mujer.png">
        <h2>About University of Leeds</h2>
        <p>Zhang San</p>
      </ion-item>
      <div class="item item-body" id="thread-list-item-container15">
        <div id="thread-markdown16" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Has anyone been there? I have some questions about it. </p>
        </div>
      </div>
      <ion-item class="item-avatar" id="thread-list-item49">
        <img src="img/face.png">
        <p>Chan Tai Man</p>
      </ion-item>
      <div class="item item-body" id="thread-list-item-container17">
        <div id="thread-markdown19" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">What do you want to know</p>
        </div>
      </div>
    </div>
    <div id="thread-container1">
      <form id="thread-form12" class="list">
        <label class="item item-input" id="thread-input7">
          <input type="text" placeholder="Your reply here">
        </label>
        <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="thread-toggle3">Show your name</ion-toggle>
        <button id="thread-button11" class="button button-positive  button-block">Reply</button>
      </form>
    </div>
  </ion-content>
</ion-view>